body{
    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--advice-card-color);
    border-radius: 10px;
    margin: 40px;
}
.card .conselho-numero{
    color: var(--advice-dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}
.card .conselho{
    font-size: 23px;
    padding: 25px;
    text-align: center;
    color: var(--text-color);
}
.card .divisor{
    margin-block: 10px;
}
.rodape-icone{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--advice-dice-color);
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape-icone:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}